
	.the-resume{
		padding-left: 880px;
	}
	.specialty {
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		font-size: 50px;
		font-family: Myriad Pro;
	}
	.lines {
		padding-left: 880px;
	}
	.rectangle-second {
		background-color: #d7d7d7;
		height: 6px;
		margin-right: 211px;
		margin-left: 210px;
		margin-top: 39px;
	}
	.des-pos{
		width: 80px;
		height: 173px;
		margin-left: 211px;
		margin-top: 20px;
		font-size: 45px;
		display: inline-block;
	}
	.ign-ition{
		display: inline-block;
		width: 170px;
		margin-left:0;
		font-size: 45px;
		background-color:#ffc600;
	}
	.street{
		display:inline-block;
		width: 150px;
		font-size: 20px;
		margin-left: 30px;
		opacity: 0.5;
	}
	.phone{
		display:inline-block;
		width: 190px;
		height: 105px;
		margin-left: 30px;
		margin-top: 65px;
		background-color: #ffc600;
		font-size: 25px;
		line-height: 50px;
		vertical-align: top;
	}
	.mail{
		display: inline-block;
		width: 300px;
		height: 120px;
		margin-left: 30px;
		font-size: 25px;
	}
	.rectangle-third{
		background-color: #d7d7d7;
		height: 6px;
		margin-left: 210px;
		margin-right: 211px;
		margin-top: 39px;
	}
	main.main{
		font-family: MyriadPro;

	}

	.dear{
		margin-left: 470px;
		font-size: 35px;
		vertical-align: top;
	}
	.address{
		display: inline-block;
		margin-top: 50px;
		margin-left: 210px;
		height: 150px;
		width: 200px;
		font-size: 25px;
		opacity: 0.5;
	}
	.p-first{
		display: inline-block;
		width: 900px;
		margin-top: 50px;
		margin-left: 60px;
		vertical-align: top;
		font-size: 25px;
	}
	.p-second{
		width: 900px;
		margin-left: 475px;
		font-size: 25px;
	}
	.p-third{
		width: 900px;
		margin-left: 475px;
		margin-top: 48px;
		font-size: 25px;
	}
	.p-fourth{
		width: 900px;
		margin-left: 475px;
		margin-top: 48px;
		font-size: 25px;
	}
	.p-fifth{
		width: 900px;
		margin-left: 475px;
		margin-top: 48px;
		font-size: 25px;
	}
	.sign{
		margin-left: 330px;
		margin-top: 55px;
		margin-bottom: 400px;
		width: 479px;
		height: 115px;
	}
	.logo{
		margin-left: 105px;
		width: 65px;
		height: 65px;
	}